<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.vesa.pro</key>
		<string>VESA_ad_hoc_newDevices</string>
	</dict>
	<key>signingCertificate</key>
	<string>CBBF2CFF0B8AD710BD7937B1E358C68D2D4B33D0</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>PJSEB2TUUE</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
